NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://routine:routine@postgres:5432/routine?schema=public
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
TELEGRAM_BOT_ENABLED=false
TELEGRAM_BOT_TOKEN=
PROD_LINK=
